/* GENERAL STYLES - - - - - - - - - - - - - - - - -*/

* {
    font-family: "Roboto", sans-serif;
}

button {
  background-color: #3882f6;  
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

/* HEADER -_-_-_-_-_-_-_-_-_-_-_ */

.header {
    background-color: #1f2937;
}

.header .title{
    font-size: 28px;
    font-weight: 900;
    color: #e5e7eb;
}

.hero-section {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-section p {
    font-size: 18px;
}

.hero-section span {
    font-size: 24px;
}

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
}




