/* GENERAL STYLES - - - - - - - - - - - - - - - - -*/

* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 0 0 50px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
  background-color: #825298; 
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 600; 
  border-radius: 8px;
  padding: 10px 10px;
  width: 100px;
  text-align: center;
}

.btn:hover {
    background-color: #9d6fb3;
}


/* HEADER -_-_-_-_-_-_-_-_-_-_-_ */

.header {
    background-color: #a470c0;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
    /* border-bottom: 1px solid #e5e7eb; bordure temporaire */
}

.header .title{
    font-size: 28px;
    font-weight: 900;
    color: #ffffff;
}

.header ul {
    color: #e5e7eb;
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    gap: 25px;
}

/* HERO SECTION -_-_-_-_-_-_-_-_-_-_-_ */

.hero-section {
    background-image: linear-gradient(
    70deg,
    hsl(269deg 51% 71%) 0%,
    hsl(274deg 52% 71%) 8%,
    hsl(278deg 52% 71%) 17%,
    hsl(283deg 52% 71%) 25%,
    hsl(287deg 52% 71%) 33%,
    hsl(292deg 52% 71%) 42%,
    hsl(297deg 52% 71%) 50%,
    hsl(302deg 53% 71%) 58%,
    hsl(306deg 59% 72%) 67%,
    hsl(310deg 66% 73%) 75%,
    hsl(314deg 73% 74%) 83%,
    hsl(317deg 81% 75%) 92%,
    hsl(320deg 89% 76%) 100%
  );
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 100px 300px;
    gap: 60px;
}

.hero-section a:hover {
    text-decoration: none;
}

.hero-left {
    flex: 1;
}

.hero-right {
    background-color: #fbafe9;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right span {
    font-size: 16px;
    font-weight: 300;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-section p {
    font-size: 18px;
    font-weight: 300;
}

/* CAROUSEL -_-_-_-_-_-_-_-_-_-_-_ */

.carousel {
    padding: 50px 300px 100px;
}

.card-box {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 50px;
}

.card {
    flex: 1 1 0;
    text-align: center;

}

.frame {
    width: 160px;
    height: 160px;
    border: #f38cd6 5px solid;
    border-radius: 20px;
    margin: 0 auto;
}

.description {
    color: #6D747D;
}

/* QUOTE SECTION -_-_-_-_-_-_-_-_-_-_-_ */

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
}

blockquote {
    color: #51555a;
    font-style: italic;
    padding: 0 50px;
}

cite {
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    color: #1f2937;
    align-self: flex-end;
    padding-right: 110px;
}

/* ACTION SECTION -_-_-_-_-_-_-_-_-_-_-_ */

.action-section {
    padding: 100px 300px;
}

.action-section span {
    color: #6e468d;
    font-size: 24px;
    font-weight: 900;
}

.action-box {
    background-color: #fbafe9;
    color: #6e468d;
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;

}

.action-section a:hover {
    text-decoration: none;
}

.action-section .btn {
    border: #f9faf8 2px solid;
}

.action-section .btn:hover {
    border: #f9faf8 2px solid;
    background-color: #9d6fb3;
}

.action-section p {
    color: #ffeffa;
    margin: 5px 0 0;
}

/* FOOTER -_-_-_-_-_-_-_-_-_-_-_ */

.footer {
    background-color: #31283b;
    height: 90px;
    color: #766a84;
    display: flex;
    justify-content: center;
    align-items: center;
}



